@import ('~lucide-static/font/Lucide.css');

body {
  background-color: #F5F5F5;
  color: #1C1C1C;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

html {
  margin-top: 0;
}

h1 {
  align-self: stretch; 
  color: var(--Text-Default-Default, #1E1E1E); 
  font-size: 48px;
  font-family: Inter;
  font-weight: 700;
  line-height: 57.60px;
  word-wrap: break-word"
}

h2 {
  align-self: stretch; 
  justify-content: center; 
  display: flex; 
  flex-direction: column; 
  color: var(--Text-Default-Secondary, #757575); 
  font-size: 32px; 
  font-family: Inter; 
  font-weight: 400; 
  line-height: 38.40px; 
  word-wrap: break-word
}

.camera-container {
  background-color: #444444;
  padding: 50px;
}


.navbar {
  background-color: white;
  /**#2F6F4E;**/
  padding: 1rem 2rem;
  color: #757575;
  font-weight: 600;
  font-size: 1.1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-top: 1px solid #ccc;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
  transition: opacity 0.2s ease-in-out;
  font-size: 30px;
}

.navbar a:hover {
  opacity: 0.8;
}


.title {
  text-align: center;
  font-size: 3.5rem;
  color: black;
  /*#2F6F4E;*/
  margin: 3rem 0 1rem;
}

.wrapper {
  margin: 40px auto;
  margin-top: 0px;
  display: block;
  max-width: 800px;
  padding: 40px;
}

.top {
  background-color: white; 
  /*#2F6F4E;*/
  margin-top: 0;
  color: #757575;
  padding: 0.75rem 1.5rem;
  margin: 0;
}

.progress-container {
    width: 100%;
    max-width: 400px;
    background-color: #eee;
    border-radius: 25px;
    overflow: hidden;
    margin: 20px auto;
  }

  .progress-bar {
    height: 30px;
    width: 0%;
    background-color:black;
    /* #2F6F4E; */
    border-radius: 25px 0 0 25px;
    text-align: center;
    color: white;
    line-height: 30px;
    font-weight: bold;
    transition: width 0.5s ease-in-out;
  }

  .progress-text {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    text-emphasis: none;
  }

button {
  background-color: #2C2C2C;
  /*#2F6F4E;*/
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0.5rem;
  display:block;
  margin: 10px auto;
  font-family:'Inter', sans-serif;
}

.navbar i {
  color: black;
}

button:hover {
  background-color: #0f0f0f;
}

#webcam-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#label-container {
  text-align: center;
  font-size: 1rem;
  margin-top: 1.5rem;
  color: #6C757D;
}

#text {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 2rem;
  padding: 0 1rem;
  color: #1C1C1C;
}

.loader {
  display: none;
  border: 4px solid #F9FAF8;
  border-top: 4px solid #FFB300;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 2rem auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
